body {
   background-color: #ffffff;

   font-weight: 300;
}

.height {
   height: 100vh;
}

.card {
   height: auto;
   border: none;
   padding: 20px;
   background-color: #3a3a3a;
   color: #fff;
}

.form-input {
   position: relative;
   margin-bottom: 10px;
   margin-top: 10px;
}

.form-input i {
   position: absolute;
   font-size: 18px;
   top: 15px;
   left: 10px;
}

.form-control {
   height: 50px;
   margin-bottom: 10px;
   background-color: #1c1e21;
   text-indent: 24px;
   font-size: 15px;
   color: #fff;
}

.form-control:focus {
   background-color: #25272a;
   box-shadow: none;
   color: #fff;
   border-color: #4f63e7;
}
.select-control {
   height: 50px;
   width: 540px;
   margin-bottom: 10px;

   background-color: #1c1e21;
   text-indent: 24px;
   font-size: 15px;
   color: #fff;
}
.select-control:focus {
   background-color: #25272a;
   box-shadow: none;
   color: #fff;
   border-color: #4f63e7;
}
.signup {
   height: 50px;
   font-size: 14px;
}

.social {
   height: 50px;
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #eee;
   border-radius: 50%;
   margin-right: 10px;
   cursor: pointer;
}

.social:hover {
   background-color: #0d6efd;
   border-color: #0d6efd;
}
