@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
   margin: 0;
   padding: 0;
   outline: 0;
}
body {
   font-family: "Roboto";
   background-color: #fff !important;
   overflow-x: hidden;
}
.height-100 {
   height: 100vh;
}
/* <--------Navigation Bar ---------> */
nav {
   z-index: 1;
   justify-content: center;
   width: 100%;
   height: 60px;
   background: #333333;
   align-items: center;
   position: center;
}
.navbar-brand {
   margin: auto;
}
@media screen and (min-width: 768px) {
   .navbar-brand {
      display: none;
   }
}
.dropdown-menu {
   background: #333333;
}
ul.navbar-nav {
   background: #333333;
}
nav ul li {
   margin: 0 40px;
}

/* <------------ Banner -----------> */
.welcome {
   width: 100%;
   height: 650px;
   background-image: url("./images/iphone12-banner.jpeg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   justify-content: center;
   align-items: center;
}
.welcome h1 {
   text-align: center;
   padding-top: 10px;
   color: #000;
   font-weight: 500;
   font-size: 4rem;
}
.welcome h3 {
   text-align: center;
   margin-top: 5px;
   color: #000;
   font-weight: 300;
   font-size: 25px;
}
.welcome h4 {
   text-align: center;
   margin-top: 2px;
   color: #1f1f1f;
   font-weight: 100;
   font-size: 15px;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
   .welcome {
      width: 100%;
      height: 700px;
      background-image: url("./images/iphone12-banner-mobile.jpeg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 90%;
      justify-content: center;
      align-items: center;
      padding: auto;
      text-align: center;
   }
}

/*<------- footer --------->*/
footer {
   text-decoration: none;
   width: 100%;
   height: 500px;
   background: #f1f1f1;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.footer-main {
   width: 1070px;
}
.footer-detail {
   font-size: 0.7rem;
   color: #95a5a6;
   padding: 10px 0;
   border-bottom: 1px solid #bdc3c7;
}
.footer-detail a {
   text-decoration: none;
   color: #2c3e50;
}
.footer-detail a:hover {
   text-decoration: underline;
}
.footer-welcome {
   display: flex;
   margin: 15px 0;
   font-size: 0.8rem;
   color: #34495e;
}
.footer-welcome i {
   margin-right: 10px;
}
.footer-ul {
   display: flex;
   justify-content: space-between;
}
.footer-ul ul {
   list-style: none;
}
.footer-ul ul li {
   margin: 7px 0;
}
.footer-ul ul li h4 {
   color: #34495e;
   font-size: 0.7rem;
}
.footer-ul ul li a {
   text-decoration: none;
   color: #7f8c8d;
   font-size: 0.7rem;
}
.footer-ul ul li a:hover {
   text-decoration: underline;
}
#mt {
   padding-top: 10px;
}
.footer-contact {
   border-bottom: 1px solid #bdc3c7;
   padding: 12px 0;
   margin: 10px 0;
   color: #7f8c8d;
   font-size: 0.7rem;
}
.footer-contact a {
   text-decoration: none;
   color: #3498db;
}
.footer-contact a:hover {
   text-decoration: underline;
}
.footer-copyright {
   color: #7f8c8d;
   font-size: 0.7rem;
   display: flex;
   justify-content: space-between;
}
.footer-copyright ul {
   display: flex;
   list-style: none;
   width: auto;
}
.footer-copyright ul li {
   margin: 0 10px;
}
.footer-copyright ul li a {
   text-decoration: none;
   color: #7f8c8d;
}
.footer-copyright ul li a:hover {
   text-decoration: underline;
}
.vr {
   height: 15px;
   width: 1px;
   background: #bdc3c7;
}
.footer-lang {
   display: flex;
}
.footer-lang p {
   margin: 0 10px;
}
.circle {
   width: 15px;
   height: 15px;
}
.circle img {
   width: 100%;
   height: 100%;
   background-size: cover;
   border-radius: 50%;
}
@media screen and (min-width: 0px) and (max-width: 500px) {
   footer {
      text-decoration: none;
      width: 100%;
      height: auto;
      background: #f1f1f1;
      text-align: left;
   }
   footer p {
      margin-left: 10px;
   }
   .footer-main {
      width: 100%;
   }
   .footer-welcome {
      display: none;
   }
   .footer-ul {
      display: none;
   }

   .footer-contact {
      display: none;
   }

   .footer-copyright {
      display: none;
   }

   .vr {
      display: none;
   }
   .footer-lang {
      display: none;
   }
   .circle {
      display: none;
   }
}
